# Copyright (c) 2025, Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

config TIMER_SF32LB_LPTIM
	bool "LPTIM timer driver for SF32LB family of MCUs"
	default y
	depends on TIMER
	depends on DT_HAS_SIFLI_LPTIM_ENABLED
	help
	  Enable LPTIM timer driver for SF32LB series of MCUs 