# Copyright (c) 2025, Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

if TIMER

module = TIMER
module-str = timer
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # TIMER
