# EH-LB563 Sifli HDK 563

# Copyright (c) 2025 Sifli Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_SIFLI_EM_LB525
config BSP_USING_BOARD_EM_LB525XXX
    bool 
    default y
endif # BOARD_SIFLI_EM_LB525

