# Copyright (c) 2025, Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

if DMA

module = DMA
module-str = dma
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # DMA 