# SiFli 56X

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# Copyright (c) 2016 BayLibre, SAS
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_SF32LB56X
	select ARM
  	select ARM_MPU
	select ARMV8_M_DSP
    select ARMV7_M_ARMV8_M_MAINLINE
    select CPU_HAS_ICACHE
    select CPU_HAS_DCACHE
    select CPU_HAS_ARM_MPU    
	select CPU_CORTEX_M33
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU
	select HAS_SWO
	select HAS_PM
	select HAS_POWEROFF
	select SOC_EARLY_INIT_HOOK
    select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
