# SiFli SF32LB all MCU lines
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_SF32LB
	bool

#config CODE_DATA_RELOCATION_SRAM
#    bool
#    default y

config SOC_FAMILY
	default "sf32lb" if SOC_FAMILY_SF32LB

rsource "*/Kconfig.soc"
