# Copyright (c) 2025, Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

if COUNTER

module = COUNTER
module-str = counter
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # COUNTER 