/*
 * Copyright (c) 2025 Qingdao IotPi Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8-m.dtsi>
#include <sifli/sf32lb58.dtsi>

/ {
    sram_retention: memory@20000 {
		compatible = "mmio-sram";
		reg = <0x20000 DT_SIZE_K(64)>;
	};
};
