# Copyright (c) 2025, Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_SF32LB
	bool "PINCTRL Driver for SF32LB family of MCUs"
    default y
	depends on PINCTRL
	depends on DT_HAS_SIFLI_SF32LB_PINCTRL_ENABLED
	depends on SOC_FAMILY_SF32LB
